@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('./catppuccin.css');

html,
body {
  background-color: var(--ctp-mocha-crust);
  font-family: "Noto Sans JP";

  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
